@use 'variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 12px;
    font-family: variables.$font;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // align-items: center
}