@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
$font: 'Space Grotesk', sans-serif;

$blue: #2741CC;
$blue2: #2d48e0;
$orange: #F95D16;
$black-hot-deal-containers: #292929;
$black-footer-container:#151515;
$black: rgb(10, 10, 10);
$white: #fff;
$white2:rgb(245, 245, 245);
$grey: #a0a0a0;
$grey2: #ECECEC;